/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.tb_r {
  border: 1px solid red;
}

.tb_b {
  border: 1px solid blue;
}

.tb_g {
  border: 1px solid green;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.inner {
  width: 100%;
  padding: 0 20px;
}

.navbar .menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: -100%;
  top: 0;
  background: #111;
  text-align: center;
  padding-top: 80px;
  transition: all 0.3s ease;
}
#menu.active {
  background: #111;
  left: 0;
}

.menu_btn i.active:before {
  content: '\f00d';
}

@media (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
